
<nav class="navbar sticky-top navbar-expand-lg navbar-dark text-uppercase font-weight-bold bg-dark">
    <a class="navbar-brand" href="#">TREATS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= active === 'Home' ? 'active' : '' %> ">
          <a class="nav-link"  href="#">Home</a>
        </li>
        <li class="nav-item <%= active === 'Profile' ? 'active' : '' %> ">
          <a class="nav-link"  href="#">Profile</a>
        </li>
        <li class="nav-item <%= active === 'Profile' ? 'active' : '' %> ">
          <a class="nav-link"  href="#">Test</a>
        </li>
      </ul>
      <span class="navbar-text">
        <a href="/accounts/log-out" class="text-decoration-none">Log out</a>
      </span>
    </div>
  </nav>