<div class="text-light container w-25 ">
    <div class="d-flex flex-column justify-content-center vh-100">
        <center class='mb-3'><h1>Smart pet feeder</h1></center>
        <a name="" id="" class="btn btn-primary mb-3" href="/accounts/sign-in">Sign in</a>
        <a name="" id="" class="btn btn-primary " href="/accounts/sign-up">Sign up</a>
        <small></small>
    </div>
</div>