<% let x = 0; %>
<% let y = 0; %>
<% let z = 0; %>
<% let rows = pets.length/3 +1 %>
<% while(x < rows){ %>
  <div class="card-deck">
    <% y = 0 ; %>
    <% while(y<3 && z<pets.length) {%>
    <div class="card border-0 rounded m-2 bg-light"  id="<%=pets[x].id%>" >
      <div class="card-header border-0 m-0 pt-2 pb-2" >
        <div class="d-flex justify-content-end" >
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square mr-2" fill="currentColor" 
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
          <path fill-rule="evenodd"
            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
        </svg>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle mr-2" fill="currentColor" 
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
          <path
            d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
          <circle cx="8" cy="4.5" r="1" />
        </svg>
        <svg width="1em" height="1em" viewBox="0 0 16 16"  class="bi bi-trash mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
          <path fill-rule="evenodd"
            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
        </svg>
        </div>
      </div>
      <div class="card-body pt-0 bg-light" >
        <h5 class="card-title"><%= pets[z].name %></h5>
        <p class="card-text"><%=pets[z].details%></p>
      </div>
      <div class="card-footer pt-2 pb-2" >
        <!-- <%="style=background-color:"+pets[z].color+";"%> -->
        <small class="">Last fed 09/32/4000 at 08:30 </small>
      </div>
    </div>
    <% z++; %>
    <% y++; %>
    <% } %>
  </div>
<% x++; %>
<% }%>